.tag0001 {width: 100%;}
.tag0002 {width: 100%; padding: 80px 10px;}
.tag0002 p {text-align: center;}
.tag0003 {align-items: start; margin-left: 10px;}
.tag0004 {align-items: end; margin-right: 10px;}
.tag0005 {display: flex;}