/* Tema automatico */
:root {
    --color-main: #f8f9fa;
    --color-section: #dcdfe2;
    --color-section-box-shadow: transparent;
    --color-font: #16202b;
    --color-menu-bar: #34495e;
    --color-menu-bar-font: #dcdfe2;
    --color-menu-bar-border: #476079;
    --color-menu-bar-hover: #476079;
    --color-menu-bar-box-shadow: #00000066;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #242434;
        --color-section: #141424;
        --color-section-box-shadow: #00000066;
        --color-font: #adadbd;
        --color-menu-bar: #141424;
        --color-menu-bar-font: #adadbd;
        --color-menu-bar-border: #242434;
        --color-menu-bar-hover: #242434;
        --color-menu-bar-box-shadow: #00000066;
    }
}
/* Tema claro */
body.theme-light {
    --color-main: #f8f9fa;
    --color-section: #dcdfe2;
    --color-section-box-shadow: transparent;
    --color-font: #16202b;
    --color-menu-bar: #34495e;
    --color-menu-bar-font: #dcdfe2;
    --color-menu-bar-border: #476079;
    --color-menu-bar-hover: #476079;
    --color-menu-bar-box-shadow: #00000066;
}
/* Tema oscuro */
body.theme-dark {
    --color-main: #242434;
    --color-section: #141424;
    --color-section-box-shadow: #00000066;
    --color-font: #adadbd;
    --color-menu-bar: #141424;
    --color-menu-bar-font: #adadbd;
    --color-menu-bar-border: #242434;
    --color-menu-bar-hover: #242434;
    --color-menu-bar-box-shadow: #00000066;
}
/* Tema clásico */
body.theme-classic {
    --color-main: #f8f9fa;
    --color-section: #e9ecef;
    --color-section-box-shadow: #6c757d14;
    --color-font: #212529;
    --color-menu-bar: #495057;
    --color-menu-bar-font: #f8f9fa;
    --color-menu-bar-border: #6c757d;
    --color-menu-bar-hover: #6c757d;
    --color-menu-bar-box-shadow: #2125291a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow: visible;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    
    transition: scale .05s ease-in 0s, color .2s ease-in 0s, background-color .2s ease-in 0s;
}

html {
    background: #000;

    /* * * * * * * * * * * * * * * * * * * * * */
    scroll-behavior: smooth;

    /* * * * * * * * * * * * * * * * * * * * * */
    /* Esto es para que se quite el scroll bar */
    /* sinembargo el unico que veo que hace    */
    /* efecto es "scrollbar-width: none;" lo   */
    /* demas no veo que aga nada.              */
    /* * * * * * * * * * * * * * * * * * * * * */
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
    /* * * * * * * * * * * * * * * * * * * * * */
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
        position: absolute;
        top: -3.14em;
    }
}
@media (min-width: 768px) {
    .hide-desktop {
        display: none;
        position: absolute;
        top: -3.14em;
    }
}

body {
    display: flex;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, svg, img {
    background: transparent;
}

/* Menú lateral */
.side-bar {
    background: var(--color-menu-bar);
    width: 250px;
    transition: 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 0 30px var(--color-menu-bar-box-shadow);

    /* * * * * * * * * * * * * * * * * * * * * */
    overflow-y: scroll;
    scroll-behavior: smooth;

    /* * * * * * * * * * * * * * * * * * * * * */
    /* Esto es para que se quite el scroll bar */
    /* sinembargo el unico que veo que hace    */
    /* efecto es "scrollbar-width: none;" lo   */
    /* demas no veo que aga nada.              */
    /* * * * * * * * * * * * * * * * * * * * * */
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
    /* * * * * * * * * * * * * * * * * * * * * */

    .text-item {
        background: var(--color-menu-bar);
        color: var(--color-menu-bar-font);
        padding: 30px 15px 15px 15px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid var(--color-menu-bar-border);
        &:first-of-type {
            padding: 15px;
        }
    }
    .nav-item {
        background: var(--color-menu-bar);
        color: var(--color-menu-bar-font);
        padding: 15px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid var(--color-menu-bar-border);
        &:hover {
            background-color: var(--color-menu-bar-hover);
        }
    }
    .bottom-item {
        position: sticky;
        bottom: 0;
        width: 250px;
        display: block;
        border-top: 1px solid var(--color-menu-bar-border);
        box-shadow: 0 0 30px var(--color-menu-bar-box-shadow);
    }
}

/* Contenido principal */
main{
    flex: 1;
    margin-left: 250px;
    margin-right: 60px;
    padding: 20px;
    overflow: auto;
    background-color: var(--color-main);
    color: var(--color-font);
    h1, h2, h3, h4, h5, h6, p, a, svg, img {
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 30px;
    }
}

/* Barra de iconos derecha */
.icons-bar {
    nav {
        position: fixed;
        width: 60px;
        background: var(--color-menu-bar);
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
        box-shadow: 0 0 30px var(--color-menu-bar-box-shadow);
        /* Botón de menú dentro de la barra de iconos */
        .button-icons-bar {
            display: block;
            background: none;
            border: none;
            color: var(--color-menu-bar-font);
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}

/* Secciones sin scroll */
.scroll-section {
    background: var(--color-section);
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    min-height: 200px;
    box-shadow: 0 0 15px var(--color-section-box-shadow);
    img {
        margin-right: 10px;
        margin-bottom: 6px;
    }
    .post-img-div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
        gap: 1.8rem;
        /* margin: 2.5rem 0; */
        justify-content: center;
    }
    .post-img-container {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        margin: 10px 0;
        p {
            margin-top: 10px;
            font-size: 1.17em;
            font-weight: bold;
        }
    }
    .post-img {
        max-height: 70vh;       /* Altura máxima */
        max-width: 100%;        /* Ancho máximo */
        height: auto;
        width: auto;
        display: block;
        margin: 0 auto;
        object-fit: contain;    /* Mantiene proporciones */
        transition: transform 0.3s ease;
    }
    h2, p {
        margin-bottom: 10px;
    }
    ul {
        margin-left: 20px;
    }
    form {
        text-align: center;
    }
    .link-button-a {
        display: block;
        text-align: start;
        text-decoration: none;
    }
}

.download-button {
    background-color: var(--color-menu-bar);
    color: var(--color-menu-bar-font);
    margin: 20px 0;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 99999px;
    border: 3px solid var(--color-menu-bar-border);
    cursor: pointer;
    &:hover {
        background-color: var(--color-menu-bar-hover);
    }
}
.link-button {
    background-color: var(--color-menu-bar);
    color: var(--color-menu-bar-font);
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 99999px;
    border: 2px solid var(--color-menu-bar-border);
    cursor: pointer;
    &:hover {
        background-color: var(--color-menu-bar-hover);
    }
}

/* Estilos para móvil */
@media (max-width: 768px) {
    .side-bar {
        left: -250px;
    }

    .side-bar.active {
        left: 0;
    }

    .icons-bar {
        nav {
            width: 35px;
            svg {
                scale: 75%;

            }
        }
    }

    main {
        margin-left: 0;
        margin-right: 35px;
    }
}

.icon {
    color: var(--color-menu-bar-font);
    font-size: 1.5rem;
}

