<nav>
    <h3 class="text-item">Currículum</h3>
    <a href="/#" class="nav-item">dlemo-kun</a>
    <a href="/#portfolio" class="nav-item">Portfolio</a>
    <a href="/#tecnologias" class="nav-item">Tecnologías</a>
    <a href="/#curriculum" class="nav-item">Currículum</a>
    <a href="/#certificaciones" class="nav-item">Certificaciones</a>
    <a href="/#sobre_mi" class="nav-item">Sobre mí</a>
    <a href="/#contacto" class="nav-item">Contacto</a>

    <h3 class="text-item">Redes sociales</h3>
    <a href="mailto:dlemo-kun@zohomail.com" class="nav-item" target="_blank">Correo electrónico</a>
    <a href="https://www.linkedin.com/in/diego-alejandro-lemos-g%C3%B3mez-a5226134b?" class="nav-item" target="_blank">LinkedIn</a>
    <a href="https://github.com/dlemo-kun" class="nav-item" target="_blank">GitHub</a>
    <a href="https://x.com/dlemo_kun?s=09l" class="nav-item" target="_blank">Twitter</a>
    <a href="https://www.youtube.com/@dlemo-kun" class="nav-item" target="_blank">Youtube</a>
    <a href="https://chat.whatsapp.com/LFQ6h7xjHpr1SBw2Igp8TD" class="nav-item" target="_blank">WhatsApp</a>

    <!-- <h3 class="text-item">Minecraft</h3>
    <a href="/#" class="nav-item">Lorem</a> -->

    <h3 class="text-item">Descargas</h3>
    <a href="/download/#" class="nav-item">Aplicaciones</a>
    <a href="/download/#" class="nav-item">Documentos</a>
    <a href="/download/#" class="nav-item">Fotos</a>
    <a href="/download/#" class="nav-item">Videos</a>

    <h3 class="text-item">Videojuegos</h3>
    <!-- <a href="/#" class="nav-item">Minecraft</a> -->
    <a href="/videogames/incredible_jack/" class="nav-item">Incredible Jack</a>
    <!-- <a href="/#" class="nav-item">Lorem</a>
    <a href="/#" class="nav-item">Lorem</a> -->

    <div class="bottom-item">
        <a href="/download/app/#" class="nav-item">Descargar la versión móvil</a>
    </div>
</nav>